# ----------------------------------------------------------------------
# CMake / Build Artifacts
# ----------------------------------------------------------------------
build/
Debug/
Release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CMakePresets.json

# ----------------------------------------------------------------------
# Compiled Object files, Binaries, and Maps
# ----------------------------------------------------------------------
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.a
*.su

# ----------------------------------------------------------------------
# STM32CubeMX specific
# ----------------------------------------------------------------------
*.bak
.mxproject

# ----------------------------------------------------------------------
# VSCode Specific
# ----------------------------------------------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json